*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transition: 1s;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
}
.container{
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #ffda77;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
}
#color-code{
    font-weight: 500;
    padding-bottom: 20px;
}
#btn{
    color: white;
    background-color: #222;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
}