* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: beige;
}
.container {
    position: relative;
}
#img {
    width: 500px;
    height: 300px;
    margin: 0 20px;
    border-radius: 10px;
}
.container button {
    position: absolute;
    top: 50%;
    padding: 8px;
    width: 80px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.6px;
    background-color: orange;
}
.container button:nth-child(1) {
    left: -85px;
}